        /*  Typing Effect
         */
        .text {
            width: 11ch;
            border-right: 3px solid;
            animation: blink 1s step-end infinite, type 1.2s steps(11) forwards;
            overflow: hidden;
            white-space: nowrap;
        }

        @keyframes blink {
            50% {
                border-color: transparent;
            }
        }

        @keyframes type {
            0% {
                width: 0;
            }
        }